		<!--jumbotron-->
	<!--<div class="jumbotron">
		<div class="container text-center">
			<h1>Paikka APP</h1>
			<p>Paikka is a location based mobile game which makes services more fun and gives benefits to the users.</p>
			
			<div class="btn-group">
				<a href="" class="btn btn-lg btn-info">Download App</a>
				<a href="" class="btn btn-lg btn-default">Visit store</a>
				<a href="" class="btn btn-lg btn-info">Spread the word</a>
			</div>
		</div>
	</div>--> <!--END -->
		<div class="landing">
		</br> 
		<div class="container text-center">
			<div class="row">
				<div class="col-sm-12">
					</br> 
					<p>Paikka is a location based mobile game. Paikka is </br> targeted at young adults,
					and it is designed to make</br> retailers, stores, restaurants and other local</br> businesses more visible, entertaining and to enhance</br> their customer satisfaction and loyalty.</p>
				</div>
				<div class="btn-group">
					</br> 
					</br> 
					<a href="http://192.49.252.231/app/paikka.apk" style="width: 300px"class="btn btn-lg btn-success">Download App</a>
				</div>
			</div>
		</div>
		</br> 
		</br>
		</div>
	</div><!--END -->
	<!-- features-->
	<div class="container">
		</br>
		<section>
			<div class="row">
				<div class="col-md-6">
				<div>
					<h2>For consumers</h2>
				</div>
					<blockquote>
					<ul>		
						<li>Paikka adds a game element to everyday tasks such as going to the supermarket</li> 
						<li>By completing quests set by real retailers you get both in-game and real life rewards</li> 
						<li>Paikka keeps track of your progress and helps you find new places to visit</li> 
						<li>It saves you money while you're having an awesome time!</li>
					</ul>
					</blockquote>
				</div>
				<div class="col-md-6">
				<div>
					<h2>For companies</h2>
				</div>
					<blockquote>
					<ul>		
						<li>Paikka brings in new customers and helps the regulars come to you more often</li> 
						<li>You can keep track of customer data and behavior to make marketing more accurate than ever</li> 
						<li>Stand out in front of your competitors as the one that attracts most people</li> 
						<li>Smart payment models for businesses of all sizes, join today!</li>
					</ul>
					</blockquote>
				</div>
			</div><!--End Row-->
		</section>
		</br>
	</div><!--End product users container-->
		<footer>
			<div class="container text-right">
				<hr>
				<ul class="list-inline">
					<li><a href="http://tampere.demola.net/projects/gamified-enterprise"><img src="img/Demola.png" class="img-responsive img-center" alt="image"></a></li>
					<!--<li><a href="http://youtube.com"><img src="img/Youtube.png" class="img-responsive img-center" alt="image"></a></li>-->
					<li><a href="http://www.tieto.com"><img src="img/Tieto.png" class="img-responsive img-center" alt="image"></a></li>
				</ul>
			</div><!--End Container-->
		</footer>