		<!--jumbotron-->
	<div class="jumbotron">
		<div class="container text-center">
		
			<h1>Paikka APP</h1>
			<p>Paikka is a location based mobile game which makes services more fun and gives benefits to the users.</p>
			
			<div class="btn-group">
				<a href="" class="btn btn-lg btn-info">Download App</a>
				<a href="" class="btn btn-lg btn-default">Visit store</a>
				<a href="" class="btn btn-lg btn-info">Spread the word</a>
			</div>
		</div>
	</div> <!--END -->
	<!-- features-->
	<div class="container">
		<section>
			<div class="page-header" id="features">
				<h2>Paikka App <small>Nice features</small></h2>
			</div><!--End Page Header-->
				<div class="row">
					<div class="col-sm-8">
							<p>Paikka is a location based mobile game called Paikka. Paikka is targeted at young adults, and it
							is designed to make retailers, stores, restaurants and other local businesses more visible, entertaining 
							and to enhance their customer satisfaction and loyalty.</p>
					</div>
					<div class="col-lg-4">
						<img src="img/visualPaikka.png" class="img-responsive" alt="image">
					</div>	
				</div><!--End Row-->
				<hr>
				
				<div class="row">
					<div class="col-sm-4">
						<div class="panel panel-default text-center">
							<div class="panel-body">
								<span class="glyphicon glyphicon-ok"></span>
								<h4>Ai</h4>
								<p>N-tier in, bus mainframe cascading device, capacitance harmonic services.</p>
							</div>
						</div>
					</div>
						<div class="col-sm-4">
						<div class="panel panel-default text-center">
							<div class="panel-body">
								<span class="glyphicon glyphicon-star"></span>
								<h4>Gadgets</h4>
								<p>Deviation scan harmonic messaging harmonic sampling anomoly silicon integral, adaptive capacitance, sampling high, processor.</p>
							</div>
						</div>
					</div>
						<div class="col-sm-4">
						<div class="panel panel-default text-center">
							<div class="panel-body">
								<span class="glyphicon glyphicon-play-circle"></span>
								<h4>Ultimate reality</h4>
								<p>Kilohertz developer metafile resistor cache converter reducer kilohertz processor coordinated n-tier data kilohertz n-tier.</p>
							</div>
						</div>
					</div>
				</div><!--End Row-->
				
		</section>
	</div><!--End Features Container--> 
<div ng-show='currentUser'>
	<!--Hello {{currentUser.firstName}}{{currentUser.lastName}}-->
</div> 
	<!-- Footer -->
		<footer>
			<hr>
			<div class="container text-center">
				<hr>
				<ul class="list-inline">
					<li><a href="http://www.twitter.com/sky">Twitter</a></li>
					<li><a href="http://www.facebook.com/sky">Facebook</a></li>
					<li><a href="http://www.youtube.com/sky">YouTube</a></li>
				</ul>
				<p>&copy;Copyright @ 2015</p>
			</div><!--End Container-->
		</footer>