<!--<h1>Login</h1>
<!--<input ng-model='user.username'/></br>
<input ng-model='user.password'/></br>
<button ng-click='login(user)'>Login</button>-->
<div class="container-fixed modal-bg-black">
	<div class="header-bg">
	<div class="row modal-form">
		<div class="col-sm-10 col-md-8 col-lg-6  col-sm-offset-1 col-md-offset-2 col-lg-offset-3">
			<div class="col-sm-12 col-md-12 modal-login-inner-bg">
				<a style="margin-top:-40px; margin-right:-40px" class="btn btn-info btn-lg pull-right" href="#home"><span class="glyphicon glyphicon-remove-circle"></span></a>
				</br>
				<hr class="modal-hr">
				<div class="col-sm-8 col-md-8 col-lg-6 col-sm-offset-2 col-md-offset-2 col-lg-offset-3">
					<form role="form">
						<h2 class="modal-h2">LOGIN</h2>
						<!--<p  style="color: red">dsfsdf{{errorMessage}}</p>-->
						<div class="col-sm-12 col-md-12">
							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
								<input ng-model='user.username' type="text" class="form-control" id="username" placeholder="username">
							</div>
						</div>
						<div class="col-sm-12 col-md-12">
							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
								<input ng-model='user.password' type="password" class="form-control" id="pwd" placeholder="password">
							</div>
						</div>
						<div class="col-sm-12 col-md-12">
							<div class="checkbox">
								<label><input type="checkbox"> Remember me</label>
							</div>
						</div>
						<div class="col-sm-12 col-md-12">
							<div class="form-group">
								<div class="col-sm-12 col-md-12 controls">
									<button ng-click='login(user)' class="btn btn-sm btn-success">LOGIN</button> 
									<a href="#register">Create Account</a>
									</br>
									</br>
									</br>
								</div>
							</div>
						</div>						
					</form>	
				</div>
			</div>
		</div>	
	</div>
</div>
</div>