
body {
  font-family: 'arial', helvetica;
}
.landing{
	background-color: black;
}
.landing a{
	
}
.landing p{
	font-size: 18px;
	color: White;
}
.logo-size{
	width: 110px;
}
.header-logo-size{
	height: 60px;
}
.modal-form{
	padding-top: 160px;
}
.header-bg{
  background-image: url("../img/tausta.png");
  background-color: black;
  background-size: 100% 100%;
  height: 400px;
}
.second-header{
}
.modal-bg-black{
	background-color: black;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
	margin : 0;
	width: 100%;
	height: 100vh;
}
.modal-bg{
	background-color: #7b7b7b;
	width: 100vw;
	height: 100%;
}
.modal-bg2{
	background-color: #7b7b7b;
	width: 100vw;
	height: 100vh;
}
.modal-h2{
	color: white;
	margin-top: -50px;
	padding-bottom: 20px;
	font-size: 22px;
}
.modal-inner-bg{
	background-color: #ffffff;
	
}
.modal-login-inner-bg{
	background-color: #ffffff;
	margin: 0 auto;
	margin-top: -20px;
}
.modal-reg-inner-bg{
	background-color: #ffffff;
	margin: 0 auto;
	width: 45%;
}
.modal-hr{
	height:40px;
	background-color:#e56385;
	margin-right: -15px;
	margin-left: -15px;
	margin-top: 0px;
}
.modal-title-box{
	background-color: #e56385;
		height: 12%;
}
.form-control{
    background-color:#d2d2d2;
    color: #7b7b7b;
}
.form-control{
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.panel{
	word-wrap:break-word;
}
.panel-body {
    text-overflow: ellipsis;
    overflow: hidden;
}
/****button-custom-bootstrap*******************************/
.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
	background: #9f445c;
}
.btn-info:focus, .btn-info:active:focus, .btn-info.active:focus {
    outline: 0 none;
	color: #9f445c;
	background: rgba(255, 255, 255, 0);
}
 .btn-info {
    color: black;
	background: none;
	border-radius:0;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info{
    background: rgba(255, 255, 255, 0);
	color: #e56385;
}
 .btn-danger{
	border-radius:0;
	line-height: 10px;
	height: 35px;
}
 .btn-warning {
    color: #ffffff;
	background: rgba(255, 255, 255, 0);
	border-radius:0;
	line-height: 10px;
	height: 35px;
}
.btn-lg{
	font-size: 22px;
}
.btn-sm{
	font-size: 16px;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning{
    background: rgba(255, 255, 255, 0);
	color: #e56385;
}
.btn-success{
	 background: #6cc04a;
	 border-radius:0;
	 line-height: 10px;
	 height: 35px;
}
.equal, .equal > div[class*='col-'] {  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 0 auto;
}
#createQuest{
	margin-top: 25px;
}
#submit{
	width: 100%;
}
#edit-buttons{
	width: 49%;
}
.btn-primary {
    background: #f78d2d;
    color: #ffffff;
	border-radius:0;
	line-height: 10px;
	height: 35px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #e56385;
}
 
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}
.navbar{
	  background-color: rgba(255, 255, 255, 0);
	  border: 0px;
}
/****page-custom-bootstrap*******************************/
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 22px;
    background-color: rgba(255, 255, 255, 1);
	
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(0, 0, 0, 1);
	font-size: 22px;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ffffff;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(229, 99, 133, 1);
    background-color: rgba(229, 99, 133, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(247, 141, 45, 1);
    background-color: rgba(231, 231, 231, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ffffff;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ffffff;
}
/****end-custom************************************************/
.class-hr{
	margin-top: 0px;
	height:3px;
	background-color:#62b3e5;
}
.img-center{
    margin: 0 auto;
